{% extends "base.html.twig"%}

{% block body %}
	<h1>The District - Acceuil<h1>


			<div class="row">
				<div class="col-4 text-center">
						<img src="media/menu-burger.jpg" class="img1" alt="...">
				</div>

				<div class="col-4 text-center">
						<img src="media/menu-pizza.jpg" class="img2" alt="...">
				</div>

				<div class="col-4 text-center">
						<img src="media/burger.jpg" class="img3" alt="...">
				</div>

			</div>

			<br>

			<div class="row">
				<div class="col-4 text-center">
						<img src="media/category/1239px-Free_Pizza.jpg" class="img4" alt="...">
				</div>

				<div class="col-4 text-center">
						<img src="media/category/photo-1586190848861-99aa4a171e90.jpeg" class="img5" alt="...">
				</div>

				<div class="col-4 text-center">
						<img src="media/category/400-gradi-pizza-1920x1080.jpg" class="img6" alt="...">
				</div>
			</div>


		{% endblock %}
